<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> Adkintun - Gráficos </title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/c3.min.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>

</head>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<body>
<ul class="nav nav-pills">
	<li role="presentation"><a href="{{ url_for('index') }}">Mapa de antenas</a></li>
	<li role="presentation" class="active"><a href="#">Ranking de Aplicaciones</a></li>
	<li role="presentation"><a href="{{ url_for('reports') }}">Visualización de reportes</a></li>
</ul>
<div class="container-fluid" style="height:100%;">
	<div class="row" style="height:100%;">
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group">
				<label for="sel1">Seleccione tipo de tráfico</label>
				<select class="form-control" id="sel1" onchange="dataThenCreate()">
					<option value="wifi all">Tráfico Wifi - Total</option>
					<option value="wifi upload">Tráfico Wifi - Subida</option>
					<option value="wifi download">Tráfico Wifi - Bajada</option>
					<option value="mobile all">Tráfico Móvil - Total</option>
					<option value="mobile upload">Tráfico Móvil - Subida</option>
					<option value="mobile download">Tráfico Móvil - Bajada</option>

				</select>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group">
				<label for="sel2">Seleccione operador</label>
				<select class="form-control" id="sel2" onchange="dataThenCreate()">
					{% for carrier in carriers %}
						<option value={{ carrier.id }}>{{ carrier.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group">
				<label for="datetimepicker1">Seleccione fecha</label>
				<div class='input-group date' id='datetimepicker1'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="chart"></div>
	</div>
	<div class="container col-md-offset-4">
		<h3><span class="label label-danger" id="error"></span></h3>
	</div>
</div>

</body>

<script>
    //datetimepicker format
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'MM-YYYY',
            useCurrent: false
        });
    });

    function dataThenCreate() {
        if ($("#datetimepicker1").data("DateTimePicker").date() != null) {
            var date = $("#datetimepicker1").data("DateTimePicker").date().toDate();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var carrier_id = $("#sel2").val();
            var parse = $("#sel1").val().split(" ");
            var traffic_type = parse[0];
            var transfer_type = parse[1];
            var url = $SCRIPT_ROOT + "/getRanking"; // Send to the public view getRanking
            $.ajax({
                dataType: "json",
                url: url,
                data: {
                    year: year,
                    month: month,
                    traffic_type: traffic_type,
                    transfer_type: transfer_type,
                    carrier_id: carrier_id
                },
                success: (function (data) {
                    console.log(JSON.stringify(data, null, 4));
                    if (Object.keys(data['xaxis']).length === 0) {
                        $("#error").html("<i>No hay información disponible para esta fecha</i>");
                        $("#chart").hide();
                    }
                    else {
                        $("#error").html("");
                        $("#chart").show();
                        createChart(data, transfer_type);
                    }
                }),
            });
        }
    }

    $("#datetimepicker1").on("dp.change", dataThenCreate);

    function createChart(data, transfer_type) {

        if (transfer_type == "upload")
            var transfer = "subidos";
        else if (transfer_type == "download")
            var transfer = "bajados";
        else
            var transfer = "totales";

        var chart = c3.generate({
            bindto: '#chart',
            data: {
                x: 'x',
                columns: [],
                type: 'bar',
                labels: true
            },
            bar: {
                width: {
                    ratio: 0.6
                }
            },
            axis: {
                x: {
                    type: 'categorized',
                    tick: {
                        multiline: false,
                        centered: true
                    },
                },
                rotated: true
            },
            color: {
                pattern: ['#4C91C2']
            }
        });

        var xaxis = $.map(data, function (value, key) {
            return key
        });
        var yaxis = $.map(data, function (value, key) {
            return value
        });

        setTimeout(function () {
            chart.unload();
            chart.load({
                columns: [
                    ['x'].concat(data.xaxis),
                    ['GB por usuario ' + transfer].concat(data.yaxis),
                ]
            });
            d3.selectAll('.c3-textstext').style('font-size', '14px')
                .style('fill', '#000000');
            d3.selectAll('.c3-axis-x text').style('font-size', '11px');
        }, 1);
    }
</script>
</html>
