<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Adkintun - Reportes</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/c3.min.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{{ url_for('static', filename='js/carriers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>
</head>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<body>
<ul class="nav nav-pills">
  <li role="presentation"><a href="{{url_for('index')}}">Mapa de antenas</a></li>
  <li role="presentation"><a href="{{url_for('charts')}}">Gráficos</a></li>
  <li role="presentation" class="active"><a href="#">Reportes totales</a></li>
</ul>
<div class="container">
  <div class="form-group">
    <label for="datetimepicker1">Seleccione fecha</label>
    <div class='input-group date' id='datetimepicker1'>
      <input type='text' class="form-control" />
      <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
    </div>
  </div>
</div>
<div class="container" id="reports" style="display: none;">
  <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h4>Dispositivos</h4></div>
      <div class="row">
          <div>
              <div id="devicesChart"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                  <table class="table table-bordered text-center" id="devices">
                      <thead class="thead-default">
                          <tr>
                          </tr>
                      </thead>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading"><h4>Mediciones</h4></div>
      <div class="col-xs-6 col-md-10 col-md-offset-1">
          <div id="gsmChart"></div>
      </div>
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                  <table class="table table-bordered text-center" id="gsm">
                      <thead class="thead-default">
                          <tr>
                          </tr>
                      </thead>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading"><h4>SIMS</h4></div>
      <div class="row">
          <div class="col-xs-6 col-md-4 col-md-offset-4">
              <div id="simsChart"></div>
          </div>
          <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                  <table class="table table-bordered text-center" id="sims">
                      <thead class="thead-default">
                          <tr>
                          </tr>
                      </thead>
                  </table>
              </div>
          </div>
      </div>
      </div>
</div>
<div class="container">
  <h3><span class="label label-danger" id="error"></span></h3>
</div>

<div class="container" id="signal" style="display: none;">
	<div class="panel panel-default">
		<!-- Default panel contents -->
        <div class="panel-heading"><h4>Señales promedio por carrier</h4></div>
        <div class="row">
            <div class="col-xs-6 col-md-10 col-md-offset-1">
                <div id="signalChart"></div>
            </div>
        </div>
	</div>
</div>
<div class="container">
	<h3><span class="label label-danger" id="errorSignal"></span></h3>
</div>

<div class="container" id="network" style="display: none;">
	<div class="panel panel-default">
		<!-- Default panel contents -->
        <div class="panel-heading">
            <h4>Distribución de señales por carrier</h4>
            <div id="heading" >
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-10 col-md-offset-1">
                <div id="networkChart"></div>
            </div>
        </div>
	</div>
</div>
<div class="container">
	<h3><span class="label label-danger" id="errorNetwork"></span></h3>
</div>


</body>
<script type="text/javascript">
    //datetimepicker format
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'MM-YYYY',
            useCurrent: false
        });
    });

    //datetimepicker event
    $("#datetimepicker1").on("dp.change", function (e) {
        var date = $("#datetimepicker1").data("DateTimePicker").date().toDate();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var url = $SCRIPT_ROOT + "/getReport"
        var jqxhr = $.getJSON(url, {
            year: year,
            month: month
        }, function () {
        })
            .done(function (data) {
                console.log(data);
                var add, mnc;
                $("#error").html("");
                $("#reports").show();


                //populate devices
              add = "";
               /*$.each(data.total_device_carrier, function (k, v) {
               add += "<tr><td>" + k + "</td><td>" + v + "</td></tr>";
               });*/
               add += "<tr><td class='active'>Total: &emsp;"+ data.total_devices + "</td></tr>"
               $("#devices thead").html(add);
               //console.log(JSON.stringify(data, null, 4));
                if (!(Object.keys(data.total_device_carrier).length === 0)) {
                    $('#devicesChart').show();
                    var chart = c3.generate({
                        bindto: '#devicesChart',
                        data: {
                            json: data.total_device_carrier,

                            type: 'donut',
                            onclick: function (d, i) {
                                console.log("onclick", d, i);
                            },
                            onmouseover: function (d, i) {
                                console.log("onmouseover", d, i);
                            },
                            onmouseout: function (d, i) {
                                console.log("onmouseout", d, i);
                            }
                        },
                        /*color: {
                            pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a']
                        },*/
                        color: {
                            pattern: ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', '#d53e8c']
                        },
                        legend: {
                            item: {
                                onclick: function() {}
                            }
                        },
                        donut: {
                            title: "Dispositivos"
                        },
                        padding: {
                            top: 20
                        },
                        tooltip: {
                            format: {
                                title: function (d) { return d; },
                                value: function (value, ratio, id) {
                                    var format = d3.format('');
                                    return format(value);
                                }
                            }
                        }
                    });
                } else {
                    $('#devicesChart').hide();
                }


                //populate gsm

                add = "";
                /*$.each(data.total_gsm_carrier, function (k, v) {
                    add += "<tr><td>" + k + "</td><td>" + v + "</td></tr>";
                });*/
                add += "<tr><td class='active'>Total: &emsp;"+ data.total_gsm + "</td></tr>"
                $("#gsm thead").html(add);

                if (!(Object.keys(data.total_gsm_carrier).length === 0)) {
                    $('#gsmChart').show();
                    var xaxis = $.map(data.total_gsm_carrier, function(value, key) { return key; });
                    var yaxis = $.map(data.total_gsm_carrier, function(value, key) { return value; });

                    var chart = c3.generate({
                        bindto: '#gsmChart',
                        data: {
                            x: 'x',
                            columns: [
                                    ['x'].concat(xaxis),
                                    ['value'].concat(yaxis),
                            ],
                            type: 'bar',
                            labels: true
                        },
                        legend: {
                            show: false
                        },
                        padding: {
                            top: 20
                        },
                        axis: {
                            rotated: true,
                            x: {
                                type: 'category'
                            }
                        },
                        color: {
                            pattern: ['#4C91C2']
                        },
                        //2c717f
                    });
                    d3.selectAll('.c3-texts text').style('fill', '#000000')
                                                  .style('font-size', '11px');
                    d3.selectAll('.c3-axis-x text').style('fill', '#000000')
                                                   .style('font-size', '11px');
                } else {
                    $('#gsmChart').hide();
                }


                //populate sims
                add = "";
                /*$.each(data.total_sims_carrier, function (k, v) {
                    add += "<tr><td>" + k + "</td><td>" + v + "</td></tr>";
                });*/
                add += "<tr><td class='active'>Total: &emsp;"+ data.total_sims + "</td></tr>"
                $("#sims thead").html(add);
                if (!(Object.keys(data.total_sims_carrier).length === 0)) {
                    $('#simsChart').show();
                    var chart = c3.generate({
                        bindto: '#simsChart',
                        data: {
                            json: data.total_sims_carrier,

                            type: 'donut',
                            onclick: function (d, i) {
                                console.log("onclick", d, i);
                            },
                            onmouseover: function (d, i) {
                                console.log("onmouseover", d, i);
                            },
                            onmouseout: function (d, i) {
                                console.log("onmouseout", d, i);
                            }
                        },
                        padding: {
                            top: 20
                        },
                        /*color: {
                            pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a']
                        },*/
                        donut: {
                            title: "SIMS"
                        },
                        legend: {
                            item: {
                                onclick: function() {}
                            }
                        },
                        tooltip: {
                            format: {
                                title: function (d) { return d; },
                                value: function (value, ratio, id) {
                                    var format = d3.format('');
                                    return format(value);
                                }
                            }
                        }
                    });
                } else {
                    $('#simsChart').hide();
                }

            })
            .fail(function () {
                $("#error").html("<i>No hay información disponible para esta fecha</i>");
                $("#reports").hide();
            });

        // New information for signal meditions
	    var jqxhr = $.getJSON($SCRIPT_ROOT + "/getGsmSignal", {
            year: year,
            month: month
        }, function () {
        })
            .done(function (data) {
	            $("#errorSignal").html("");
                $("#signal").show();

	            /*add = "";
                $.each(data, function (k, v) {
                    add += "<tr><td>" + k + "</td><td>" + v + "</td></tr>";
                });
                $("#signalCarriers tbody").html(add);*/

                if (!(Object.keys(data).length === 0)) {
                    $('#signalChart').show();
                    var xaxis = $.map(data, function(value, key) { return key; });
                    var yaxis = $.map(data, function(value, key) { return value; });

                    var chart = c3.generate({
                        bindto: '#signalChart',
                        data: {
                            x: 'x',
                            columns: [
                                    ['x'].concat(xaxis),
                                    ['value'].concat(yaxis),
                            ],
                            type: 'bar',
                            labels: {
                                    format: d3.format(',.2f')
                            },
                        },
                        legend: {
                            show: false
                        },
                        padding: {
                            top: 20
                        },
                        axis: {
                            rotated: true,
                            x: {
                                type: 'category'
                            }
                        },
                        color: {
                            pattern: ['#4C91C2']
                        },
                    });
                    d3.selectAll('.c3-texts text').style('fill', '#000000')
                                                  .style('font-size', '11px');
                    d3.selectAll('.c3-axis-x text').style('font-size', '12px');
                } else {
                    $('#signalChart').hide();
                }
            })
            .fail(function () {
                $("#signal").hide();
                $("#errorSignal").html("<i>No hay información disponible para esta fecha</i>");
            });
	        //console.log(JSON.stringify(data, null, 4));

	    // New information for ammount of signals (2G, 3G, 4G, unknown)
	    var jqxhr = $.getJSON($SCRIPT_ROOT + "/getNetwork", {
            year: year,
            month: month
        }, function () {
        })
            .done(function (data) {
	            $("#errorNetwork").html("");
                $("#network").show();

                /*add = "";
                $.each(data, function (k, v) {
                    add += "<tr><td>" + k + "</td><td>";
                    $.each(v, function(k2,v2){
                        add += "<li>" + k2 + " : " + v2 + "</li>"
                    });
	                add += "</td></tr>";
                });*
                $("#networkCarriers tbody").html(add);*/
                //console.log(JSON.stringify(data, null, 4));

                if (!(Object.keys(data).length === 0)) {
                    $('#networkChart').show();
                    $('#heading').show();
                    var yaxis = [];
                    var x2G = [];
                    var x3G = [];
                    var x4G = [];
                    var xOtras = [];

                    $.each(data, function(k,v) {
                        yaxis.push(k)
                        x2G.push(v['2G'] == 0? 0 : Math.log(v['2G']) / Math.LN10)
                        x3G.push(v['3G'] == 0? 0 : Math.log(v['3G']) / Math.LN10)
                        x4G.push(v['4G'] == 0? 0 : Math.log(v['4G']) / Math.LN10)
                        xOtras.push(v['Otras']  == 0? 0 : Math.log(v['Otras']) / Math.LN10)
                    })

                    var chart = c3.generate({
                        bindto: '#networkChart',
                        data: {
                            x: 'x',
                            columns: [
                                ['x'].concat(yaxis),
                                ['2G'].concat(x2G),
                                ['3G'].concat(x3G),
                                ['4G'].concat(x4G),
                                ['Otras'].concat(xOtras)
                            ],
                            labels: false,
                            type: 'bar',
                            format: {
                                value: function (value) {
                                    if (value == 0) {
                                        return 1;
                                    }
                                }
                            }
                        },
                        bar: {
                            width: 12
                        },
                        tooltip: {
                            format: {
                                title: function (d) { return d; },
                                value: function (value) {
                                    if (value == 0) {
                                        return 0;
                                    }
                                    return  Math.round(Math.exp(value * Math.LN10));
                                }
                            }
                        },
                        size: {
                            height: 480
                        },
                        padding: {
                            top: 20
                        },
                        axis: {
                            x: {
                              type: 'categorized'
                            }, rotated:true
                        },
                        color: {
                        pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a']
                       },
                       /*color: {
                        pattern: ['#00293E',
                            '#003E54', '#006269', '#00918F', '#00BAB5', '#6AD6D5']
                       },*/
                    });
                    d3.selectAll('.c3-texts text').style('fill', '#000000')
                                                  .style('font-size', '11px');
                    d3.selectAll('.c3-axis-x text').style('font-size', '12px');

                    add = "";
                    add += "<h4> (Escala logaritmica) </h4>"
                    $("#heading p").html(add);

                } else {
                    $('#networkChart').hide();
                    $('#heading').hide();
                }
            })
            .fail(function () {
                $("#errorNetwork").html("<i>No hay información disponible para esta fecha</i>");
                $("#network").hide();
            });
    });

</script>
</html>
