<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Adkintun - Reportes</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/c3.min.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
  <script src="{{ url_for('static', filename='js/carriers.js') }}"></script>
  <script src="{{ url_for('static', filename='js/d3.v3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>
</head>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<body>
<ul class="nav nav-pills">
  <li role="presentation"><a href="{{url_for('index')}}">Mapa de antenas</a></li>
  <li role="presentation"><a href="{{url_for('charts')}}">Gráficos</a></li>
  <li role="presentation" class="active"><a href="#">Reportes totales</a></li>
</ul>
<div class="container">
  <div class="form-group">
    <label for="datetimepicker1">Seleccione fecha</label>
    <div class='input-group date' id='datetimepicker1'>
      <input type='text' class="form-control"/>
      <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>
<div class="container" id="reports" style="display: none;">
  <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"><h4>Dispositivos</h4></div>
      <div class="panel-body">
          <div class="row">
              <div>
                  <div class="col-xs-6 col-md-4 col-md-offset-4">
                    <div id="devicesChart"></div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="panel panel-default" id="tabla1">
                      <table class="table table-bordered text-center" id="devices">
                          <thead class="thead-default">
                              <tr>
                              </tr>
                          </thead>
                      </table>
                  </div>
              </div>
          </div>
          <div class="alert alert-danger" id="error1">
              <span class="glyphicon glyphicon-info-sign"></span>
              <strong>No hay información disponible para esta fecha</strong>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading"><h4>Mediciones</h4></div>
      <div class="panel-body">
          <div class="col-xs-6 col-md-10 col-md-offset-1">
              <div id="gsmChart"></div>
          </div>
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="panel panel-default" id="tabla2">
                      <table class="table table-bordered text-center" id="gsm">
                          <thead class="thead-default">
                              <tr>
                              </tr>
                          </thead>
                      </table>
                  </div>
              </div>
          </div>
          <div class="alert alert-danger" id="error2">
              <span class="glyphicon glyphicon-info-sign"></span>
              <strong>No hay información disponible para esta fecha</strong>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading"><h4>SIMS</h4></div>
      <div class="panel-body">
          <div class="row">
              <div class="col-xs-6 col-md-4 col-md-offset-4">
                  <div id="simsChart"></div>
              </div>
              <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                      <div class="panel panel-default" id="tabla3">
                          <table class="table table-bordered text-center" id="sims">
                              <thead class="thead-default">
                                  <tr>
                                  </tr>
                              </thead>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="alert alert-danger" id="error3">
              <span class="glyphicon glyphicon-info-sign"></span>
              <strong>No hay información disponible para esta fecha</strong>
          </div>
      </div>
  </div>
</div>

<div class="container" id="signal" style="display: none;">
	<div class="panel panel-default">
		<!-- Default panel contents -->
        <div class="panel-heading"><h4>Señales promedio por carrier</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-md-10 col-md-offset-1">
                    <div id="signalChart"></div>
                </div>
            </div>
            <div id="loading1"><h4><i class="fa fa-spinner fa-spin"></i> Loading...</h4></div>
            <div class="alert alert-danger" id="error4">
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>No hay información disponible para esta fecha</strong>
            </div>
        </div>
	</div>
</div>

<div class="container" id="network" style="display: none;">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h4>Eventos registrados por carrier</h4>
            <div id="heading">
                <p></p>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-md-10 col-md-offset-1">
                    <div id="networkChart"></div>
                </div>
            </div>
            <div id="loading2"><h4><i class="fa fa-spinner fa-spin"></i> Loading...</h4></div>
            <div class="alert alert-danger" id="error5">
                <span class="glyphicon glyphicon-info-sign"></span>
                <strong>No hay información disponible para esta fecha</strong>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript">
    //datetimepicker format
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'MM-YYYY',
            useCurrent: false
        });
    });

    //datetimepicker event
    $("#datetimepicker1").on("dp.change", function (e) {
        var date = $("#datetimepicker1").data("DateTimePicker").date().toDate();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var url = $SCRIPT_ROOT + "/getReport"

        $('#devicesChart').hide();
        $('#gsmChart').hide();
        $('#simsChart').hide();
        $('#signalChart').hide();
        $('#networkChart').hide();
        $('#heading').hide();
        $('#error1').hide();
        $('#error2').hide();
        $('#error3').hide();
        $('#error4').hide();
        $('#error5').hide();
        $('#loading1').show();
        $('#loading2').show();

        var jqxhr = $.getJSON(url, {
            year: year,
            month: month
        }, function () {
        })
            .done(function (data) {
                console.log(data);
                var add, mnc;
                $("#reports").show();
                $("#tabla1").show();

                //populate devices
               add = "";
               add += "<tr><td class='active'>Total: &emsp;"+ data.total_devices + "</td></tr>"
               $("#devices thead").html(add);
                if (!(Object.keys(data.total_device_carrier).length === 0)) {
                    $('#devicesChart').show();
                    var chart = c3.generate({
                        bindto: '#devicesChart',
                        data: {
                            json: data.total_device_carrier,

                            type: 'donut',
                            colors: {
                                'Claro': '#e1051a',
                                'Entel PCS Telecomunicaciones S.A.': '#1D63B2',
                                'Movistar': '#6dbf1f',
                                'VTR Móvil': '#ff7d00',
                                'Virgin Mobile': '#fa1f70',
                                'WOM': '#720184'
                            },
                            onclick: function (d, i) {
                                console.log("onclick", d, i);
                            },
                            onmouseover: function (d, i) {
                                console.log("onmouseover", d, i);
                            },
                            onmouseout: function (d, i) {
                                console.log("onmouseout", d, i);
                            }
                        },
                        /*color: {
                            pattern: ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', '#d53e8c']
                        },*/
                        legend: {
                            item: {
                                onclick: function() {}
                            }
                        },
                        donut: {
                            title: "Dispositivos"
                        },
                        padding: {
                            top: 20
                        },
                        tooltip: {
                            format: true,/*{
                                title: function (d) { return d; },
                                value: function (value, ratio, id) {
                                    var format = d3.format('');
                                    return format(value);
                                }
                            }*/
                        }
                    });
                } else {
                    $("#tabla1").hide();
                    $("#error1").show();
                }

                //populate gsm

                add = "";
                add += "<tr><td class='active'>Total: &emsp;"+ data.total_gsm + "</td></tr>"
                $("#gsm thead").html(add);

                if (!(Object.keys(data.total_gsm_carrier).length === 0)) {
                    $('#gsmChart').show();
                    $("#tabla2").show();

                    var localeFormatter = d3.locale({
                        "decimal": ",",
                        "thousands": ".",
                        "grouping": [3],
                        "currency": ["", "€"],
                        "dateTime": "%a, %e %b %Y, %X",
                        "date": "%d.%m.%Y",
                        "time": "%H:%M:%S",
                        "periods": ["", ""],
                        "days": ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"],
                        "shortDays": ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"],
                        "months": ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"],
                        "shortMonths": ["Jan", "Feb", "Mär", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"]
                    });
                    var numberFormat = localeFormatter.numberFormat(",.f");

                    var xaxis = $.map(data.total_gsm_carrier, function(value, key) { return key; });
                    var yaxis = $.map(data.total_gsm_carrier, function(value, key) { return value; });

                    var chart = c3.generate({
                        bindto: '#gsmChart',
                        data: {
                            x: 'x',
                            columns: [
                                    ['x'].concat(xaxis),
                                    ['value'].concat(yaxis),
                            ],
                            type: 'bar',
                            labels: {
                                format: numberFormat,
                            }
                        },
                        tooltip: {
                            format: {
                                name: function (name, ratio, id, index) { return name; },
                                value: function (value, ratio, id) {
                                    var format = numberFormat;
                                    return format(value);
                                }
                            }
                        },
                        legend: {
                            show: false,
                        },
                        padding: {
                            top: 20
                        },
                        axis: {
                            rotated: true,
                            x: {
                                type: 'category'
                            }
                        },
                        color: {
                            pattern: ['#4C91C2']
                        },
                    });

                } else {
                    $("#tabla2").hide();
                    $("#error2").show();
                }

                //populate sims
                add = "";
                add += "<tr><td class='active'>Total: &emsp;"+ data.total_sims + "</td></tr>"
                $("#sims thead").html(add);
                if (!(Object.keys(data.total_sims_carrier).length === 0)) {
                    $('#simsChart').show();
                    $("#tabla3").show();

                    var chart = c3.generate({
                        bindto: '#simsChart',
                        data: {
                            json: data.total_sims_carrier,

                            type: 'donut',
                            colors: {
                                'Claro': '#e1051a',
                                'Entel PCS Telecomunicaciones S.A.': '#1D63B2',
                                'Movistar': '#6dbf1f',
                                'VTR Móvil': '#ff7d00',
                                'Virgin Mobile': '#fa1f70',
                                'WOM': '#720184'
                            },
                            onclick: function (d, i) {
                                console.log("onclick", d, i);
                            },
                            onmouseover: function (d, i) {
                                console.log("onmouseover", d, i);
                            },
                            onmouseout: function (d, i) {
                                console.log("onmouseout", d, i);
                            }
                        },
                        padding: {
                            top: 20
                        },
                        donut: {
                            title: "SIMS"
                        },
                        legend: {
                            item: {
                                onclick: function() {}
                            }
                        },
                        tooltip: {
                            format: true,/*{
                                title: function (d) { return d; },
                                value: function (value, ratio, id) {
                                    var format = d3.format('');
                                    return format(value);
                                }
                            }*/
                        }
                    });
                } else {
                    $("#tabla3").hide();
                    $("#error3").show();
                }

            })

        // New information for signal meditions
	    var jqxhr = $.getJSON($SCRIPT_ROOT + "/getGsmSignal", {
            year: year,
            month: month
        }, function () {
        })
            .done(function (data) {
                $("#signal").show();

                if (!(Object.keys(data).length === 0)) {
                    $('#loading1').hide();
                    $('#signalChart').show();
                    var xaxis = $.map(data, function(value, key) { return key; });
                    var yaxis = $.map(data, function(value, key) { return value; });

                    var chart = c3.generate({
                        bindto: '#signalChart',
                        data: {
                            x: 'x',
                            columns: [
                                    ['x'].concat(xaxis),
                                    ['value'].concat(yaxis),
                            ],
                            type: 'bar',
                            labels: {
                                    format: d3.format(',.2f')
                            },

                        },
                        point: {
                            r: 1
                        },
                        legend: {
                            show: false
                        },
                        padding: {
                            top: 20
                        },
	                    point: {
                            r: 5
	                    },
                        axis: {
                            rotated: true,
                            x: {
                                type: 'category'
                            },
                            y: {
                                label: {
                                    text: 'Potencia de la señal promedio [dBm]',
                                    position: 'outer-center'
                                }
                            },
                        },
                        /*color: {
                            pattern: ['#4C91C2']
                        },*/
                    });
                    d3.selectAll('.c3-texts text').style('fill', '#000000')
                                                  .style('font-size', '11px');
                    d3.selectAll('.c3-axis-x text').style('font-size', '12px');
                } else {
                    $('#loading1').hide();
                    $("#error4").show();
                }
            })

	    // New information for ammount of signals (2G, 3G, 4G, unknown)
	    var jqxhr = $.getJSON($SCRIPT_ROOT + "/getNetwork", {
            year: year,
            month: month
        }, function () {
        })
            .done(function (data) {
                $('#loading2').hide();
                $("#network").show();

                if (!(Object.keys(data).length === 0)) {
                    $('#networkChart').show();
                    $('#heading').show();
                    var yaxis = [];
                    var x2G = [];
                    var x3G = [];
                    var x4G = [];
                    var xOtras = [];

                    $.each(data, function(k,v) {
                        yaxis.push(k)
                        x2G.push(v['2G'] == 0? 0 : Math.log(v['2G']) / Math.LN10)
                        x3G.push(v['3G'] == 0? 0 : Math.log(v['3G']) / Math.LN10)
                        x4G.push(v['4G'] == 0? 0 : Math.log(v['4G']) / Math.LN10)
                        xOtras.push(v['Otras']  == 0? 0 : Math.log(v['Otras']) / Math.LN10)
                    })


                    var chart = c3.generate({
                        bindto: '#networkChart',
                        data: {
                            x: 'x',
                            columns: [
                                ['x'].concat(yaxis),
                                ['2G'].concat(x2G),
                                ['3G'].concat(x3G),
                                ['4G'].concat(x4G),
                                ['Otras'].concat(xOtras)
                            ],
                            labels: false,
                            type: 'bar',
                        },
                        bar: {
                            width: 12
                        },
                        tooltip: {
                            format: {
                                name: function (name, ratio, id, index) { return name; },
                                value: function (value) {
                                    if (value == 0) {
                                        return 0;
                                    }
                                    return  Math.round(Math.exp(value * Math.LN10));
                                }
                            }
                        },
                        legend: {
                            item: {
                                onclick: function() {}
                            }
                        },
                        size: {
                            height: 480
                        },
                        padding: {
                            top: 20
                        },
                        axis: {
                            x: {
                              type: 'categorized',
                            }, rotated:true,
                             y : {
                                show:true,
                                tick: {
                                   format: function (d) { return Math.pow(10,d).toFixed(0); }
                                }
                             }
                        },
                        color: {
                        pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a']
                       },
                    });
                    d3.selectAll('.c3-texts text').style('fill', '#000000')
                                                  .style('font-size', '11px');
                    d3.selectAll('.c3-axis-x text').style('font-size', '12px');
                    d3.selecAll('.c3-axis-y').scale.log().domain([1,5]).range([0, height]);
                    add = "";
                    add += "<h4> (Escala logarítmica) </h4>"
                    $("#heading p").html(add);
                } else {
                    $('#loading2').hide();
                    $('#error5').show();
                }
            })
    });

</script>
</html>
